<div class="guInteractive">
    <div id="guardianNav">
        <nav id="navContainer">
            <img id="guardianLogo" src="{{assets}}/imgs/guardianLogo.png" />
        </nav>
    </div>
    <div id="content">
        <header id="headerContainer"></header> 
        <div id="mainVideoContainer"></div>
        
        <div id="episodeTeaser">
            <h4 class="sectionHeading">Coming next week..</h4>
            <div class="contentBlock" id="teaserContainer">
                <div id="nextWeekTeaser">
                    <img src="{{assets}}/imgs/dates/johnjane.jpg" />
                    <p id="teaserMobile">Coming next week..</p>
                    <h3>John & Jane</h3>
                    <p>Downing Street was forced to defend David Cameron’s appointment of a former HSBC chairman as trade minister in 2011, after</p>
                </div>
        
                <div id="signupBox">
                    <div id="signupInformation">
                        <p id="signupTitle">New episode alerts</p>
                        <p id="signupDescription">Don't miss out on the awkward! Sign up to be notified via email of new episodes.</p>
                    </div>
                    <div id="signupForm">
                    <iframe id="form" scrolling="no" frameborder="none" width="100%" height="110px" src="form.html"></iframe>
                    </div>
                </div>
            </div>
         </div>
        


        
        <div class="contentBlock" id="allEpisodes">
            <h4 class="sectionHeading">The dates</h4>
            <div id="allEpisodesContainer">
                {{#allEpisodes}}
                    <div class="episodeBlock published-{{published}} {{coupleid}} inactiveVideo" data-date="{{coupleid}}">
                        <img src="{{assets}}/imgs/dates/{{coupleid}}.jpg" />
                        <p>{{couple}} <span>{{date}}</span></p>
                    </div>
                {{/allEpisodes}}
            </div>
        </div>
        
        <div class="contentBlock" id="aboutDates">
            <h4 class="sectionHeading">About Watch Me Date</h4>
            <div id="aboutDatesContainer">
                <p>Downing Street was forced to defend David Cameron’s appointment of a former HSBC chairman as trade minister in 2011, after</p>
                <p id="participate">Downing Street was forced to defend <a href="#">David Cameron’s</a> appointment of a former HSBC chairman as trade minister in 2011, after</p>
            </div>
        </div>
    </div>
    <footer></footer>
</div>
